.sign-up{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color:blueviolet;
}

.h1{
    color:blueviolet;
    background-color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}